body{
margin: 0;
padding: 0;
}


h1{
 text-align: center;
}

.slide {
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 1200px;
  height     : 500px;
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  
}
 
 /*=== 画像の設定 ======================================= */
.slide img {
  display    : block;
  position   : absolute;
                      /* 画像のサイズを表示エリアに合せる */
  width      : 1200px;
  height     : 490px;
  left       : 100%;
  animation  : slideAnime 15s ease infinite;
}
 
 /*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 6s }
.slide img:nth-of-type(3) { animation-delay: 12s }

 
 /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
   0% { left: 100%  }
   20% { left: 0     }
  40% { left: 0     }
  60% { left: -100% }
 100% { left: -100% }	
}

#slidebutton div{
    display: inline-block;
    border-radius: 50%;
    background-color: burlywood;
    width: 10px;
    height: 10px;
}
#slidebutton{
   text-align: center;
}


.sec1{
    width: 900px;
    margin: 0 auto;
}
.sec1 h2{
  width: 700px;
  color: aqua;  
}
.sec1 p{
    margin-left: 50px;
}


.sec23{
    display: flex;
    width: 1000px;
    margin: 0 auto;

}

.sec2{
    width: 1000px;
    margin: 0 auto;

}
    .sec2 img{
       
        width: 400px;
    }
.sec2 h3{
color: #000;
text-align: center;

}

    .sec3{
        text-align: center;
    }

    .sec3 img{   
        width: 500px;  
    }
 .sec3 h3{
    color: #000;
    text-align: center;
 }


 .video {
 width: 100%;
 position: relative;
 padding-top: 56.25%;
}

.video iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.MV h4{
    color: #000;
text-align: center;
}



ul{
display: flex;
width: 1476px;
flex-wrap: wrap;
justify-content: space-between;
}

dl{
    width: 1400px;
    text-align: center;
}


